<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Bienvenido a {{ title }}</h1>
    <p>
      Su nombre es: <span>{{ nombre }}</span>
    </p>
    <p>
      Usted tiene: <span>{{ edad }} años</span>
    </p>
    <p>
      Dentro de 10 años tendra: <span>{{ suma }} años</span>
    </p>
    <p>
      Para llegar a los 50 años le faltan: <span>{{ resta }} años</span>
    </p>
    <p>
      La edad duplicada es: <span>{{ multi }} años</span>
    </p>
    <p>
      La mitad de su edad es: <span>{{ divi }}</span>
    </p>
  </body>
</html>
